*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: lemonchiffon;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrapper {
    padding-bottom: 2.5rem;
    font-family: monospace;
}

#header-image {
    background-color: rgb(250, 7, 7);
    min-height: 500px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: lemonchiffon;
    color: rgb(71, 63, 53);
    min-height: 400px;
    min-width: 400px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-div {
    background-color: transparent;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#search-type {
    font-size: 20px;
    outline: none;
    border: 1px solid #01346ef8;
    background-color: #01346ef8;
    color: cornsilk;
    padding-left: 2em;
    padding-right: 2em;
}

#search-type:focus {
    background-color: #023e83f8;
    color:cornsilk;
}

#search-box {
    width: 50%;
    min-height: 45px;
    padding: 5px;
    outline: none;
    border: 1px solid tomato;
    background-color: lemonchiffon;
    color: black;
    font-size: 20px;
    text-align: center;
}

#search-button {
    min-width: 100px;
    height: inherit;
    border: 1px solid #01346ef8;
    background-color: #01346ef8;
    text-align: center;
    color: cornsilk;
    cursor: pointer;
    font-size: 20px;
    outline: none;
}

div.short-definition-div {
    border-left: 1pc solid rgba(28, 170, 206, 0.87);
    border-bottom: 1pc solid tomato;
    margin-bottom: 1pc;
    margin-left: 5em;
    margin-right: 5em;
    padding-bottom: 1em;
}

.short-definition-div:last-of-type {
    margin-bottom: 2.5rem;
}

h3.hwi {
    color:cornflowerblue;
}

h3.def-hw {
    margin-left: 5em;
    color: cornflowerblue;
}

ul {
    margin-left: 5em;
    padding-right: 5em;
}

li.fl {
    list-style: none;
    color:brown;
    text-align: center;
    margin-top: 1em;
}


li {
    padding-top: 1em;
    font-size: 20px;
}

li:last-of-type {
    padding-bottom: 1em;
}

footer {
    position: absolute;
    width: 100%;
    height: 2.5rem;
    background-color: rgb(250, 7, 7);
    color: cornsilk;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.drp-div {
    border-left: 1pc solid rgba(12, 99, 121, 0.87);
    border-bottom: 1pc solid chocolate;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 5em;
    margin-right: 5em;
    padding-bottom: 1em;
}

div.drp-div  h3.hwi {
    color:cornflowerblue;
}

div.drp-div:last-of-type {
    margin-bottom: 5em;
}

li.short-def, li.synonyms {
    color:rgb(4, 57, 70);
    margin-left: 1.75em;
}

li.short-def::marker {
    color: red;
}

li.drp::marker {
    color: red;
    list-style-position: outside;
}

li.drp {
    margin-left: 4em;
    padding-bottom: 0;
}

li.drp:last-of-type {
    margin-bottom: 2em;
}

li.phrase-def {
    list-style-position: outside;
    padding-left: 0.7em;
    margin-left: 1.6em;
    list-style-type:square;
}

li.vis {
    margin-left: 3em;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0.5em;
    list-style-type: disc;
}

li.vis:last-of-type {
    padding-bottom: 2em;
}

li.vis::marker {
    color: olivedrab;
    padding-bottom: 0;
    list-style-position: outside;
}

li.vis:empty {
    display: none;
}

span.vis {
    color:blue;
}

span.phrase {
    color: rgb(151, 3, 151);
}

span.short-def-span {
    color:teal;
}

span.phrase-def {
    color: rgb(250, 2, 155);
}

li.def-text {
    margin-left: 5em;
    margin-right: 1.5em;    
}

div.def-div {
    margin: 3em;
    border: 5px solid coral;
    padding-bottom: 2em;
}

div.def-div:last-of-type {
    margin-bottom: 5em;
}

div.syn-div {
    margin-left: 5em;
    padding-left: 5em;
}

p {
    font-size: 16px;
}

p.syn-vis {
    margin-bottom: 2em;
}

li.syn-word {
    font-size: 16px;
}

ul.syn-list-ul {
    font-size: 16px;
    color: crimson;
}

span.syn-intro, span.def-syn-group, span.syn-vis {
    color:darkmagenta;
    font-weight: 900;
}

div.syn-div {
    border: 3px solid tomato;
    margin-bottom: 2em;
    margin-right: 5em;
    padding-bottom: 3em;
    padding-right: 2em;
}

div.syn-div:last-of-type {
    margin-bottom: 5em;
}